{:paths   ["src/lib"]
 :deps    {com.cemerick/url                    {:mvn/version "0.1.1"}
           com.taoensso/timbre                 {:mvn/version "6.5.0"}
           funcool/promesa                     {:mvn/version "11.0.678"}
           io.djy/ezzmq                        {:mvn/version "0.8.2"}
           io.replikativ/datahike              {:mvn/version "0.6.1558"}
           mount/mount                         {:mvn/version "0.1.18"}
           org.apache.logging.log4j/log4j-api  {:mvn/version "2.23.1"} ; ToDo: Move logging to :dev.
           org.apache.logging.log4j/log4j-core {:mvn/version "2.23.1"} ; ToDo: Move logging to :dev.
           org.clojure/clojure                 {:mvn/version "1.11.2"}
           org.clojure/core.unify              {:mvn/version "0.6.0"}
           org.slf4j/slf4j-nop                 {:mvn/version "2.0.13"}}    ; Stop spurious logging!

 ;; See .dir-locals.el for some defaults on CIDER C-c M-j
 :aliases {:dev          {:extra-paths    ["src" "test" "env/dev" "resources"]
                          :jvm-opts       ["-XX:-OmitStackTraceInFastThrow"] ; https://www.metosin.fi/blog/missing-stacktraces/
                          :extra-deps     {cider/cider-nrepl               {:mvn/version "0.47.1"}
                                           com.lambdaisland/classpath      {:mvn/version "0.5.48"}
                                           expound/expound                 {:mvn/version "0.9.0"} ; more readable spec messages
                                           org.clojure/java.classpath      {:mvn/version "1.1.0"}
                                           nrepl/nrepl                     {:mvn/version "1.1.1"}
                                           org.clojure/tools.namespace     {:mvn/version "1.5.0"}}}

           :test       {:extra-paths    ["src" "test" "env/dev"]
                        :main-opts      ["-m" "kaocha.runner"]
                        :extra-deps     {lambdaisland/kaocha          {:mvn/version "1.88.1376"}
                                         ;; Since I'm running from the command line, bin/koacha, need to repeat these.
                                         com.lambdaisland/classpath   {:mvn/version "0.5.48"}
                                         org.clojure/tools.namespace  {:mvn/version "1.5.0"}}}

           :build    {:deps {io.github.clojure/tools.build {:mvn/version "0.10.0"} #_{:git/tag "v0.9.4" :git/sha "76b78fe"}}
                      :ns-default build}

           ;; clj -M:morpheus -d graphs -f svg -e 'clojure.core/.*|:clj-kondo/unknown-namespace/.*|:cljs.core/.*' src
           :var-deps-graph {:extra-deps      {thomasa/morpheus {:git/url "https://github.com/benedekfazekas/morpheus.git"
                                                                :git/sha "9d6f2c1ede8be7ab4508065fe6b7e40e0c099ab6"}}
                            :main-opts       ["-m" "thomasa.morpheus.main"]}}}
